.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-size: 0.5rem;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0%;
  margin: 0%;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html #nav,
body #nav {
  background-color: #adc0a3;
  border: 1px #707070;
  height: 10vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html #nav div,
body #nav div {
  padding-left: 5%;
}

html #nav div a,
body #nav div a {
  text-decoration: none;
}

html #nav-right,
body #nav-right {
  font-family: "PMingLiU-ExtB";
  font-size: 2.5em;
  color: white;
  width: 40%;
  height: 100%;
}

html #nav-left,
body #nav-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

html #nav-left a,
body #nav-left a {
  font-family: "Perpetua";
  color: #863911;
  font-size: 2em;
  font-weight: bold;
}

html section,
body section {
  height: 90vh;
  width: 100%;
  padding-top: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html #sec-div,
body #sec-div {
  background-color: #dae4d5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  height: 80%;
  padding: 2%;
  border: 3px solid #863911;
}

html #side-img,
body #side-img {
  height: 100%;
  width: 60%;
  border: 2px solid #577349;
  margin: 0%;
  padding: 0%;
}

html #side-img img,
body #side-img img {
  height: 100%;
  width: 100%;
}

html #side-form,
body #side-form {
  height: 100%;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2%;
}

html #side-form p,
body #side-form p {
  color: #863911;
}

html #side-form form,
body #side-form form {
  height: 30%;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: -10%;
}

html #side-form form input,
body #side-form form input {
  height: 30%;
  width: 100%;
  color: #AEA29D;
  padding: 2%;
  border: none;
  font-family: "Aldhabi";
  font-size: 1.5em;
  border-radius: 5px;
}

html button,
body button {
  width: 30%;
  border-radius: 100px;
  border: 2px solid #863911;
  background-color: #5C8249;
  font-size: 1.2em;
  font-weight: bold;
  font-family: "Perpetua";
  color: white;
}

html #first-p,
body #first-p {
  font-size: 3em;
  font-family: 'Segoe UI';
  font-weight: bold;
}

html #second-p,
body #second-p {
  font-family: "Aldhabi";
  font-size: 1.5em;
}
/*# sourceMappingURL=login.css.map */